
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    .container {
       display: flex;
       flex-wrap: wrap;
       min-height: 100vh;
       justify-content: center;
       justify-content: space-between;
       align-items: center;
       max-width: 600px;
       margin: auto;
       margin-top: 20px;
   }
    
    .box {
        width: calc(33.33% - 20px);
        height: 200px;
        background-color: #f7f7f9;
        margin-bottom: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        padding: 20px;
        overflow: hidden;
        position: relative;
    }
    
    .box svg {
        position: absolute;
        bottom: 10%;
        right: 10%;
    }
    .box p {
        margin: 0;
        text-align: left;
        margin-bottom: 10px;
        overflow: hidden;
        font-weight: 900;
        font-size: x-large;
    }

    .date {
        font-size: 14px;
        color: #777;
        overflow: hidden;
    }
    
    @media (max-width: 600px) {
        .container {
            justify-content: center;
            margin: 30px;
        }

        .box {
            width: calc(100% - 40px);
            margin-right: 0;
            margin-left: 0;
        }
    }
    
    .box:nth-child(1) {
        background-color: #ffd2bf;
    }
    
    .box:nth-child(2) {
        background-color: #9ff5ce;
    }
    
    .box:nth-child(3) {
        background-color: #f3b8ee;
    }
    
    .box:nth-child(4) {
        background-color: #d8bcff;
    }
    
    .box:nth-child(5) {
        background-color: #a2e2fd;
    }
    
    .box:nth-child(6) {
        background-color: #feb8b8;
    }
